// Псевдоэлемент
@mixin pseudo($content: '') {
  content: $content;
  display: block;
  position: absolute;
}

// Применение отступа сверу кроме последнего элемента
@mixin mt($value) {
  &:not(:last-child) {
    margin-top: $value;
  }
}

// Применение отступа справа кроме последнего элемента
@mixin mr($value) {
  &:not(:last-child) {
    margin-right: $value;
  }
}

// Применение отступа снизу кроме последнего элемента
@mixin mb($value) {
  &:not(:last-child) {
    margin-bottom: $value;
  }
}

// Применение отступа слева кроме последнего элемента
@mixin ml($value) {
  &:not(:last-child) {
    margin-left: $value;
  }
}

// Пропорцианальное увеличение блока
@mixin aspect-ratio($size, $aspect-ratio) {
  width: $size;
  height: calc($size / $aspect-ratio);
}
