// Тестовый файл
.body {
  background-color: #111;
}
// С максимального до 1200px
@media (min-width: 1200px) {
  .body {
    background-color: cadetblue;
  }
}
// С 1199px до 992px
@media (min-width: 992px) and (max-width: 1199px) {
  .body {
    background-color: burlywood;
  }
}
// С 991px до 768px
@media (min-width: 768px) and (max-width: 991px) {
  .body {
    background-color: aquamarine;
  }
}
// С 767px
@media (max-width: 767px) {
  .body {
    background-color: chartreuse;
  }
}
// С 480px
@media (max-width: 480px) {
  .body {
    background-color: darkorange;
  }
}
// С 320px
@media (max-width: 320px) {
  .body {
    background-color: darkgreen;
  }
}